.fixed-operations-pane{
    top: 50px;
    right: 20px;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
    display: flex;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.2);
    border-radius: 0px 0px 5px 5px;
    overflow-x: auto;
}
.passport{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.tt-menu{
    max-height: 400px;
    overflow-y: auto;
}
.card-body{
    overflow-x: auto;
}

.operations-container{
    opacity: .1
}
.operations-wrapper:hover .operations-container{
    opacity: 1;
}
@media (min-width: 768px){
    .fixed-operations-pane{
        position: fixed;
    }
}